# .env.example
#Slack
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=

#API level
ENVIRONMENT=
APP_PORT=
LOG_LEVEL=
REDIS_URL=

#AWS 
AWS_REGION=
BEDROCK_MODEL_ID=
AGENTCORE_OAUTH_PROVIDER_ARN=
CALLBACK_URL=

# DynamoDB
TABLE_NAME=
TABLE_ENDPOINT_URL=
