#Slack
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=
#Google Calendar
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
#API level
ENVIRONMENT=development
APP_PORT=8000
LOG_LEVEL=INFO

#AWS 
AWS_REGION=us-east-1